/* SkillsChart.css */
h5 {
  font-size: 2rem;
  padding-top: 20px;
  text-decoration: underline;
}
.skills-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.info-container {
  padding-left: 1rem;
  padding: 20px;
}

.info-box {
  padding: 20px 40px;
  border: solid 5px #000;
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.9);
  height: 500px;
  overflow: scroll;
  scrollbar-width: none; /* Para Firefox */
  -ms-overflow-style: none; /* Para Internet Explorer y Edge */
}

.info-box::-webkit-scrollbar {
  display: none;
}

.info-title {
  margin-bottom: 0.5rem;
  text-decoration: underline;
}
