---
interface Boton {
  texto: string;
  enlace: string;
}

interface Props {
  botones: Boton[];
}

const { botones }: Props = Astro.props;
---

<span></span>
<div class="botones-link">
  {
    botones.map((boton) => (
      <button>
        <a href={boton.enlace}>
          {boton.texto}
          <img src="/assets/link-arrow.svg" alt="" />
        </a>
      </button>
    ))
  }
</div>

<style>
  a {
    text-align: left;
    display: flex;
    padding: 0 10px;
    width: 100%;
    padding: 10px 20px;
    text-decoration: none; /* Para quitar el subrayado si es necesario */
    justify-content: space-between;
  }
  img {
    height: 20px;
    align-self: center;
    display: block;
    background: none;
  }
  .botones-link {
    display: flex;
    width: 100%;
    border: solid 5px #000;
    position: relative;
  }

  span {
    position: absolute;
    width: 100%; /* Ocupa solo el ancho del contenedor */
    height: 5px;
    background: #000;
    transform: translate(-50%, 30px); /* Centra y rota */
    z-index: 0; /* Asegúrate de que esté detrás de los botones */
    pointer-events: none;
  }

  .botones-link button {
    width: 100%;
    z-index: 1;
    border: none;
    position: relative;
    border-right: solid 5px #000;
    display: flex;
  }
  .botones-link button:last-child {
    border-right: none;
  }

  .botones-link :hover {
    transition: 0.2s;
    background-color: var(--color-principal);
  }
</style>
