---
import Project from "@components/tarjetas/Proyectos.astro";

const proyectos = [
  {
    nombre: "Proyecto 1",
    imgEnlace: "/public/favicon.svg",
    titulo: "Título del Proyecto 1",
    descripcion: "Descripción breve del proyecto 1.",
    enlaceProyecto: "",
  },
  {
    nombre: "Proyecto 2",
    imgEnlace: "/public/favicon.svg",
    titulo: "Título del Proyecto 2",
    descripcion: "Descripción breve del proyecto 2.",
    enlaceProyecto: "",
  },
  {
    nombre: "Proyecto 3",
    imgEnlace: "/public/favicon.svg",
    titulo: "Título del Proyecto 2",
    descripcion: "Descripción breve del proyecto 2.",
    enlaceProyecto: "",
  },
  {
    nombre: "Proyecto 4",
    imgEnlace: "/public/favicon.svg",
    titulo: "Título del Proyecto 2",
    descripcion: "Descripción breve del proyecto 2.",
    enlaceProyecto: "",
  },
  {
    nombre: "Proyecto 5",
    imgEnlace: "/public/favicon.svg",
    titulo: "Título del Proyecto 2",
    descripcion: "Descripción breve del proyecto 2.",
    enlaceProyecto: "",
  },
];
---

<section>
  <div class="proyectos-div">
    <h1 id="proyectos">Proyectos</h1>
    <div class="lista-proyectos">
      <Project proyectos={proyectos} />
    </div>
  </div>
</section>

<style>
  /* Estilos locales del componente */
  section {
    margin-top: 100px;
    border-top: solid 5px #000;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .proyectos-div {
    width: 80%;
  }

  h1 {
    padding-top: 120px;
  }
</style>
