---
import SkillsRadarChart from "@components/elementos/SkillRadar.jsx";
---

<section>
  <nav>
    <h1 id="skill">Skill-set</h1>
    <SkillsRadarChart client:load />
  </nav>
</section>

<style>
  section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    padding-top: 100px;
    border-top: 5px solid #000;
    min-height: 100vh;
    align-items: center;
  }
  nav {
    width: 80%;
  }
  @media (max-width: 768px) {
    h1 {
      margin-left: 20%;
    }
    nav {
      width: 100%;
    }
  }
</style>
